@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center; }

h1 {
  margin: 3rem 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2rem; }

span {
  color: #ce9797;
  font-weight: 300; }

p {
  color: #ce9797;
  font-size: 1.3rem;
  margin-bottom: 3rem; }

.logo {
  padding: 3.5rem; }

.text-container {
  margin: 3rem;
  text-align: center; }

.email-submission {
  position: relative;
  text-align: center; }

.email-input {
  border-radius: 100px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
  height: 4rem;
  border: 1px solid #ce9797; }

.arrow-img {
  background: linear-gradient(135deg, #f8bfbf 35%, #ee8c8c 100%);
  border-radius: 5rem;
  padding: 1rem 2rem;
  top: 0;
  right: 0;
  position: absolute; }
