/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */

:root {
    --primary-violet: hsl(256, 26%, 20%);
    --primary-gray: hsl(216, 30%, 68%);


    --neutral-violet: hsl(270, 9%, 17%);
    --neutral-gray: hsl(273, 4%, 51%);
    --neutral-light-gray: hsl(0, 0%, 98%);

}


/* GENERAL */

body {
    color: var(--neutral-gray);
    
}

body, button, p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

hr {
    width: 8em;
    left: 5em;
}

button {
        color:white;
        border: white;
        border: 1px solid white;
        background-color: var(--primary-violet);
}

/* NAV BAR */

.nav {
    position: absolute;
    z-index: 100;
    height: 5em;
    width: 100%;
    background-color: white;
    padding-top: 1em;

}

.nav ul {
    display: block;
    overflow: hidden;
    margin-right: 10em;

}

.nav li {
    float: right;
    margin: 1em 0.75em;
  
}

.nav .btn {
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: -0.5rem;
}

.nav .btn:hover {
    background-color: var(--primary-violet);
    color: white;
}

.logo-img {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.nav a {
    text-decoration: none;
    color: var(--neutral-gray);
}

.nav a:hover {
    color: var(--primary-violet);
}

/* HEADER */

.header {
    position: relative;
    background-color: var(--primary-violet);
    font-weight: 400;
    color: white;
    height: 40em;

}

.header-pattern {
    position: absolute;
    right: 0px;
    top: 0.5em;
    width: 25em;

}

.header hr {
    position: absolute;
    float: left;
    top: 10em;
    
}

.header h1 {
    position: absolute;
    top: 3.5em;
    
}

.header p {
    font-weight: 100;
    position: absolute;
    top: 23em;
}


.header-text {
    max-width: 50%;
    margin-left: 5em;
    padding-top: 3em;
}

.header button {
    position: absolute;
    top: 28em;
    padding: 0.7em 2em;
    background-color: var(--primary-violet);
}

.header button:hover {
    color: var(--primary-violet);
    background-color: white;
}


.intro-img {
    float:right;
    width: 35%;
    position: absolute;
    top: 12em;
    right: 8em;
}

.header-left {
    position: absolute;
    width: 10em;
    top: 30em;
}


/* INFO */

.info {
    margin-top: 20em;
    display: flex;
    flex-direction: row;
    
}

.info h1 {
    position: absolute;
    left: 1.2em;
    top: 14.7em;
    color: black;
}

.info hr {
    position: absolute; 
    top: 55em;


}

.info-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8em;
    margin: 0 3em;
}

.info-card {
   margin-top: 10em;
   max-width: 25%;  

}

.info img {
    width: 4.5em;
    margin-bottom: 2em;
}

.info h2 {
    margin-bottom: 1.5em;
}


/* HOW WE WORK */

.work-container {
    position: relative;
    background-color: var(--primary-violet);
    height: 13em;
    margin: 5em;

}

.work-container h1 {
    float: left;
    color: white;
    font-size: 3rem;
    max-width: 50%;
    margin: 1em;
}

.work-container img {
    position: absolute;
    top: 0;
    right: 0;
    height: 13em;
}

.work-container button {
    position: absolute;
    top: 40%;
    right: 6%;
    padding: 0.75em 2em;
    z-index: 1;

}

.work-container button:hover {
    color: var(--primary-violet);
    background-color: white;
}


/* FOOTER */

footer {
    position: relative;
    background-color: var(--neutral-light-gray);
    height: 25em;
}

.footer-pattern {
    position: absolute;
    width: 35%;
    margin-bottom: 5em;
}

.logo {
    position: relative;
    float: left;
    top: 3em;
    left: 10em;

}

.social {
    position: absolute;
    top: 3em;
    right: 6em;

}
.social img {
    margin-left: 0.5em;
}

footer hr {
    position: absolute;
    top: 6em;
    left: 9.7em;
    width: 80%;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 10em;
}

.column {
    width: 15%;
}

.column h3 {
    margin-bottom: 2em;
}

.column p {
    margin-bottom: 1em;
    color: black;
}

.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}




.attribution {
    margin-top: 3em;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
   .intro-img {
       width: 25%;

   }
}

@media (max-width: 768px) {
    .intro-img {
        width: 30%;
    }

    .header h1 {
        width: 15%;
        font-size: 3em;
    }

    .header p {
        width: 30%;
        top: 29em;
        font-size: 0.75em;
    }

    footer hr {
        width: 70%;
    
    }



 }

 @media (max-width: 615px) {



 }